numpy
pandas
scipy
matplotlib
seaborn
altair
jupyter
jupyterlab
scikit-learn
scikit-plot
xgboost
SQLAlchemy
shap
alive-progress
tqdm
requests
pandas-profiling
matplotsoccer
knockknock
plotnine
boto3==1.14.0